body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    color: #000;
}

.navbar-laravel {
    background-color: #ffc489;
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
}

.navbar-brand {
    color: #fff !important;
}

.navbar-collapse{
    img{
        width:70%;
        border: none;
    }
    a{
        width:10%;
    }
}


.menu{
    margin: 10px;
    color: #000;
}


.nav-link {
    color: #fff !important;
}

.table-dark {
    color: #000;
    background-color: #e9ecef;
}

.list-group-item {
    border-color: #000;
    background-color: #000;
}

.login-box {
    background-color: #e9ecef;
    .login-copy{
        text-align:center;
        margin: 10px;
    }
}

.login-header {
    background-color: rgba(0,0,0,0);
}

.login-body {
    background-color: rgba(0,0,0,0);
}



