body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #228b22;
  color: #fff;
}

.navbar-laravel {
  background-color: #006400;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-laravel .aa {
  margin: 10px;
  color: #fff;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
  background-color: #00ff6c42;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: #006400;
}

.login-box .login-copy {
  text-align: center;
  margin: 10px;
}

.login-header {
  background-color: rgba(0, 0, 0, 0);
}

.login-body {
  background-color: rgba(0, 0, 0, 0);
}

