@charset "UTF-8";

body {
  color: #000;
  background-color: #fff;
  margin: 0px;
}

.header .logo {
  width: 120px;
  height: 82px;
}

/* ナビゲーションバー　*/

.navbar-laravel {
  background-color: #a9a9a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand img {
  width: 10%;
}

/* top画像と白黒テキスト*/

body {
  margin: 0;
}

.titleWrap {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
}

.img-box {
  margin-left: 20%;
}

.img-box img {
  width: 100%;
  vertical-align: bottom;
}

.black-color,
.white-color {
  margin: 0;
  font-weight: bold;
  font-size: 2.3em;
  position: absolute;
  top: 10%;
  height: calc(100% - 10%);
  overflow: hidden;
}

.white-color {
  width: 100%;
  margin-left: 20%;
}

.black-color {
  width: 20%;
}

.white-color span,
.black-color span {
  display: block;
  position: absolute;
}

.white-color span {
  width: 100%;
  color: #fff;
  left: -20%;
}

.black-color span {
  width: 500%;
}

/* about　*/

.messageWrap {
  margin: 10px auto;
  max-width: 1000px;
  position: relative;
  text-align: center;
}

.message-img img {
  width: 100%;
  vertical-align: bottom;
}

.messageBox {
  position: absolute;
  background-color: #fff;
  opacity: 0.7;
  top: 17%;
  left: 10%;
  width: 80%;
  padding: 50px;
  /* responsiveの場合
  top:10%;
  padding:10px;
  */
}

/*野菜SNS　vegetter コピー文*/

.vege-news {
  margin: 30px;
  text-align: center;
}

/* 野菜SNSリンク */

.link-box {
  text-align: center;
}

.btn-radius-white {
  padding: 7px 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: solid 2px #ffc489;
}

.btn-radius-white:hover {
  opacity: 60%;
  text-decoration: none;
}

.btn-radius-orange {
  padding: 7px 10px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  background-color: #ffc489;
}

.btn-radius-orange:hover {
  opacity: 60%;
  text-decoration: none;
}

/* 野菜SNS 最新投稿　*/

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .new_box {
  position: relative;
}

.headline .caption .new_icon:after {
  position: absolute;
  content: "NEW\FF01";
  top: 5px;
  left: 5px;
  background: #ff0000;
  color: #fff;
  padding: 10px;
}

.headline .caption .new_box img {
  width: 100%;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .date {
  float: left;
}

.headline .caption .body {
  font-size: 0.8em;
}

/* Topにnewアイコン追加　*/

.new-icon {
  color: #006400;
  font-size: 30px;
}

/* 野菜SNS　その他投稿部分 */

.posts .post .date {
  font-size: 0.6em;
  color: #008000;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

/* googlemap */

.maps {
  text-align: center;
}

.map-text {
  display: inline-block;
  margin: 70px 10px;
  vertical-align: top;
}

.map-text h3 {
  border-bottom: dashed 2px #ffc489;
}

/* shareボタンとアイコン */

.share-button {
  text-align: center;
  clear: both;
}

.fab {
  margin: 10px;
}

#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
}

#page_top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F102";
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

